* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.header {
    font-size: 30px;
    margin: 30px 0;
}
.calc-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    min-height: 8%;
    /* height: 500px; */
    border: 2px solid red;
    padding: 10px;
    gap: 20px;
    margin-bottom: 40px;;
}
.resultCon {
    border: 2px solid blue;
    width: 100%;
    height: 90px;
    flex: 1 1 auto;
}
.numbersCon {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* border: 2px solid gray; */
    width: 100%;
    height: 900px;
    flex: 3 1 0;
}

.button {
    border: 1px solid black;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    max-height: 87px
    /* height: 100%; */
    /* max-height: calc(100 / 4 - 10px); */
}