* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {
    font-size: 30px;
    margin: 30px 0;
}
.calc-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    min-height: 80vh;
    border: 2px solid red;
    padding: 10px;
    gap: 20px;
}
.result {
    border: 2px solid blue;
    width: 100%;
    height: 90px;
    flex: 1;
}
.numbers {
    border: 2px solid gray;
    width: 100%;
    flex: 3;
}