* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calc-box {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 300px;
    /* height: 100vh; */
    min-height: 80vh;
    border: 2px solid red;
    padding: 10px;
}
.result {
    border: 2px solid blue;
    width: 100%;
    height: 50px;
}
.numbers {
    border: 2px solid gray;
    width: 100%;
    flex: 1;
}