* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid green; */
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
}
.header {
    font-size: 30px;
    margin: 30px 0;
}
.calc-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 700px;
    border: 2px solid red;
    padding: 10px;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    min-width: 400px;

}
.resultCon {
    border: 2px solid blue;
    width: 100%;
    /* height: 100px; */
    flex: 1;
    min-height: 0;
}
.numbersCon {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border: 2px solid gray;
    width: 100%;
    flex: 3;
    min-height: 0;

}

.button {
    border: 1px solid black;
    border-radius: 15px;
    flex: 0 0 calc((100% - 3 * 15px) / 4);
    height: calc((100% - 4 * 15px) / 5);
    /* min-height: 0; */

}